<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Quoting Dojo</h1>
    <form action ="/quotes" method="POST">
        <p>Your name: <input type="text" name="name"></p>
        <p>Your quote: <textarea name="quote"></textarea></p>
        <button type="submit" name="sumbit" value="Add my quote!">Add my quote</button>
    </form>
    <a href="/quotes"><button>Skip to quotes</button></a>

    <!--VALIDATION NOTIFICATIONS-->
    <% if(messages.quoteform) { %>
        <% for (var x of messages.quoteform){ %>
        <%= x %>
        <% } %>
    <% } %>
</body>
</html>